span.jsx-1400468510 svg {
  width: 140px;
  height: auto;
  margin-top: 2px;
}

span.jsx-1400468510 path:last-child {
  fill: #003648;
}

a.jsx-3800956289 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px 0 24px;
}

span.jsx-4162713857 {
  display: inline-flex;
  margin: 0;
}

span.jsx-4162713857 svg {
  width: 14px;
  height: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span.jsx-4162713857 svg path:last-child {
  fill: #333333;
}

span.with-hover.jsx-4162713857 svg:hover {
  opacity: 0.85;
}

span.with-hover.jsx-4162713857 svg:hover path:last-child {
  fill: #333333;
}

.category-groups.jsx-2779669024 {
  padding: 30px 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.category-groups.jsx-2779669024 > li.jsx-2779669024 + li.jsx-2779669024 {
  border-left: solid 1px #e6e6e6;
}

.category-groups.jsx-2779669024 > li.jsx-2779669024 {
  padding: 0px 8px 0px 24px;
}

.category-groups.jsx-2779669024 > li.jsx-2779669024 ul.jsx-2779669024 {
  padding: 0;
  margin-top: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 80px;
  max-height: 210px;
}

.category-groups.jsx-2779669024
  > li.jsx-2779669024
  ul.jsx-2779669024
  > li.jsx-2779669024 {
  display: inline-block;
  white-space: nowrap;
  margin-right: 16px;
}

.category-groups.jsx-2779669024
  > li.jsx-2779669024
  ul.jsx-2779669024
  > li.jsx-2779669024
  a.jsx-2779669024 {
  font-size: 13px;
  line-height: 1.62;
  text-align: left;
  color: #005672;
}

.category-groups.jsx-2779669024
  > li.jsx-2779669024
  ul.jsx-2779669024
  > li.jsx-2779669024
  a.jsx-2779669024:hover,
.category-groups.jsx-2779669024
  > li.jsx-2779669024
  ul.jsx-2779669024
  > li.jsx-2779669024
  a.jsx-2779669024:focus {
  color: #0095bf;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.category-groups--freelancer.jsx-2779669024
  > li.jsx-2779669024
  ul.jsx-2779669024 {
  max-height: 126px;
}

.category-groups--mentor.jsx-2779669024 .group-name.jsx-2779669024 {
  height: 40px;
}

.group-name.jsx-2779669024 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  color: #003648;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.group-name.jsx-2779669024 > a.jsx-2779669024 {
  color: #003648;
}

.menu.jsx-504766363 {
  position: relative;
  height: 100%;
  font-size: 14px;
}

.menu.jsx-504766363:hover {
  background-color: rgba(51, 51, 51, 0.04);
}

.menu__dropdown.jsx-504766363 {
  display: none;
  border-radius: 3px;
  background: #fff;
  left: 0;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 4px 8px 0 rgba(0, 0, 0, 0.24),
    inset 0 1px 0 0 #e6e6e6;
}

.menu__dropdown--opened.jsx-504766363 {
  position: absolute;
  display: inline-block;
}

.menu.jsx-504766363 > a.jsx-504766363 {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 16px 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333333;
  font-weight: normal;
}

.menu.jsx-504766363 > a.jsx-504766363:hover,
.menu.jsx-504766363 > a.jsx-504766363:focus {
  -webkit-text-decoration: none;
  text-decoration: none;
}

.menu.jsx-504766363 > a.jsx-504766363 span {
  margin-left: 4px;
}

.btn-inner-container.jsx-1211401018 {
  width: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button.jsx-1211401018 {
  color: #fff;
  min-width: 70px;
  width: auto;
  background: #137ded;
  border: 1px solid #137ded;
  border-radius: 3px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 14px;
  opacity: 1;
  font-family: Open Sans, sans-serif;
}

button.disabled.jsx-1211401018 {
  cursor: default;
  opacity: 0.4;
}

button.jsx-1211401018:hover {
  background: #1175e0;
  border-color: #1175e0;
  color: #fff;
}

button.jsx-1211401018 .btn__icon {
  display: inline-block;
  line-height: 0;
  margin-right: 5px;
}
.call-to-action-group.jsx-1265345060 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
}

.menu-link.jsx-1265345060 {
  color: #333;
  cursor: pointer;
  padding: 21px 16px 21px 16px;
}

.menu-link.jsx-1265345060:hover {
  background: rgba(51, 51, 51, 0.04);
}

.dropdown-menu__icon.jsx-1000709893 {
  height: 26px;
  width: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu__icon.jsx-1000709893:hover span.jsx-1000709893 {
  background-color: #00445b;
  opacity: 0.8;
}

.dropdown-menu__icon.jsx-1000709893:active span.jsx-1000709893,
.dropdown-menu__icon.jsx-1000709893:focus span.jsx-1000709893 {
  outline: none;
}

.dropdown-menu__icon.jsx-1000709893 span.jsx-1000709893,
.dropdown-menu__icon.jsx-1000709893 span.jsx-1000709893:before,
.dropdown-menu__icon.jsx-1000709893 span.jsx-1000709893:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 1px;
  height: 3px;
  width: 18px;
  background-color: #00445b;
  position: absolute;
  display: block;
  content: "";
}

.dropdown-menu__icon.jsx-1000709893 span.jsx-1000709893:before,
.dropdown-menu__icon.jsx-1000709893 span.jsx-1000709893:after {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.dropdown-menu__icon.jsx-1000709893 span.jsx-1000709893:before {
  top: -6px;
}

.dropdown-menu__icon.jsx-1000709893 span.jsx-1000709893:after {
  top: 6px;
}

.dropdown-menu__icon--active.jsx-1000709893 span.jsx-1000709893 {
  background-color: transparent;
}

.dropdown-menu__icon--active.jsx-1000709893 span.jsx-1000709893:before,
.dropdown-menu__icon--active.jsx-1000709893 span.jsx-1000709893:after {
  top: 0;
}

.dropdown-menu__icon--active.jsx-1000709893 span.jsx-1000709893:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown-menu__icon--active.jsx-1000709893 span.jsx-1000709893:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dropdown-menu__icon--active.jsx-1000709893:hover span.jsx-1000709893 {
  background-color: transparent;
}

.menu-item.jsx-2325857047 {
  display: inline-block;
  padding: 12px 16px;
  width: 100%;
  font-size: 14px;
  background: #fff;
  color: #333;
}

.menu-item.jsx-2325857047:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #f6f6f6;
  color: #333;
}

.dropdown-menu.jsx-3712676018 {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-menu__box.jsx-3712676018 {
  position: absolute;
  width: 220px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.17);
  top: 100%;
  border-top: 1px solid #eee;
  z-index: 4;
}

.dropdown-menu__box--left.jsx-3712676018 {
  left: 0;
}

.dropdown-menu__box--right.jsx-3712676018 {
  right: 0;
}

.dropdown-menu__box--hide.jsx-3712676018 {
  display: none;
}

.header__nav.jsx-2627291394 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  z-index: 10;
}

.header--mini.jsx-2627291394 li,
.header.jsx-2627291394 li {
  list-style: none;
}

.header.jsx-2627291394 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 12px;
}

.header--mini.jsx-2627291394 {
  display: none;
}

@media (max-width: 890px) {
  .header--mini.jsx-2627291394 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header.jsx-2627291394 {
    display: none;
  }
}

.leaderboard__companies__group.jsx-2871686470 {
  margin-left: 34px;
}

.company-img.jsx-2871686470 {
  height: 48px;
}

@media (max-width: 1125px) {
  .company-img.jsx-2871686470:nth-last-child(1) {
    display: none;
  }
}

@media (max-width: 1010px) {
  .company-img.jsx-2871686470:nth-last-child(2) {
    display: none;
  }
}

@media (max-width: 800px) {
  .company-img.jsx-2871686470:nth-last-child(3) {
    display: none;
  }
}

.btn-inner-container.jsx-3358217560 {
  width: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button.jsx-3358217560 {
  color: #fff;
  min-width: 70px;
  width: 100%;
  background: #137ded;
  border: 1px solid #137ded;
  border-radius: 3px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 32px;
  opacity: 1;
  font-family: Open Sans, sans-serif;
}

button.disabled.jsx-3358217560 {
  cursor: default;
  opacity: 0.4;
}

button.jsx-3358217560:hover {
  background: #1175e0;
  border-color: #1175e0;
  color: #fff;
}

button.jsx-3358217560 .btn__icon {
  display: inline-block;
  line-height: 0;
  margin-right: 5px;
}

.btn-inner-container.jsx-1631378424 {
  width: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button.jsx-1631378424 {
  color: #137ded;
  min-width: 70px;
  width: 100%;
  background: transparent;
  border: 1px solid #137ded;
  border-radius: 3px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 32px;
  opacity: 1;
  font-family: Open Sans, sans-serif;
}

button.disabled.jsx-1631378424 {
  cursor: default;
  opacity: 0.4;
}

button.jsx-1631378424:hover {
  background: transparent;
  border-color: #1175e0;
  color: #1175e0;
}

button.jsx-1631378424 .btn__icon {
  display: inline-block;
  line-height: 0;
  margin-right: 5px;
}

.title-block.jsx-3427260622 {
  padding: 0 0 20px;
  margin-top: 65px;
  background: #fff;
}

.title-block__container.jsx-3427260622 {
  width: 95%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 32px;
  margin: 0 auto;
  max-width: 1192px;
}

.title-block--left.jsx-3427260622 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 64px;
}

.title-block__img.jsx-3427260622 {
  margin: 0 38px;
}

.title-block__title.jsx-3427260622 {
  color: #003648;
  font-size: 32px;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 24px auto;
}

.title-block__title.jsx-3427260622 b {
  font-weight: 900;
}

.title-block__description.jsx-3427260622 {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.title-block__companies.jsx-3427260622 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #b8b8b8;
  font-style: italic;
  font-size: 12px;
  line-height: 1.5;
  height: 48px;
}

.title-block__companies.jsx-3427260622 > p.jsx-3427260622 {
  width: 106px;
  margin: 0;
  vertical-align: middle;
  padding: 6px 0;
}

.title-block--right.jsx-3427260622 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 80px 0;
  max-width: 350px;
}

.title-block__actions.jsx-3427260622 {
  margin: 0 auto;
}

@media (max-width: 960px) {
  .title-block__container.jsx-3427260622 {
    display: block;
    padding: 18px 6px;
  }
  .title-block--left.jsx-3427260622 {
    display: block;
    text-align: center;
    padding: 0;
    max-width: 680px;
    margin: 0 auto;
  }
  .title-block--right.jsx-3427260622 {
    max-width: 328px;
    padding: 0;
    margin: 0 auto;
  }
  .title-block__title.jsx-3427260622 {
    font-size: 24px;
    margin: 0 0 16px auto;
  }
  .title-block__img.jsx-3427260622 > div.jsx-3427260622 {
    display: inline-block;
    margin: 16px auto 0;
  }
  .title-block__img.jsx-3427260622 span svg {
    width: 64px;
    height: 64px;
  }
  .title-block__companies.jsx-3427260622 {
    display: none;
  }
  .title-block__actions.jsx-3427260622 {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .jsx-3427260622 {
    font-size: 32px;
  }
}

@media (max-width: 495px) {
  .title-block--left.jsx-3427260622 {
    display: block;
  }
}

span.jsx-9251649 {
  display: inline-flex;
  margin: 0;
}

span.jsx-9251649 svg {
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span.jsx-9251649 svg path:last-child {
  fill: #666;
}

span.with-hover.jsx-9251649 svg:hover {
  opacity: 0.85;
}

span.with-hover.jsx-9251649 svg:hover path:last-child {
  fill: #666;
}
span.jsx-452215105 {
  display: inline-flex;
  margin: 0;
}

span.jsx-452215105 svg {
  width: 14px;
  height: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span.jsx-452215105 svg path:last-child {
  fill: #999;
}

span.with-hover.jsx-452215105 svg:hover {
  opacity: 0.85;
}

span.with-hover.jsx-452215105 svg:hover path:last-child {
  fill: #999;
}
.remove-button.jsx-908310026 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span.jsx-908310026 .remove-icon {
  margin-left: 6px;
}
.tags-input__input-wrapper {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tags-input__hint {
  font-size: 12px;
  margin-top: 4px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.54);
}

.tags-input--error .tags-input__hint {
  color: #ff6b54;
}

.tags-input__input-wrapper input {
  padding: 0;
  border: none;
  color: #333;
  line-height: 24px;
  font-size: 14px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  outline: none;
  min-width: 120px;
  max-width: 100%;
  width: 100%;
  background: none;
}

.tags-input .react-tagsinput {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.tags-input .react-tagsinput:before,
.tags-input .react-tagsinput:after,
.tags-input--error .react-tagsinput:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  pointer-events: none;
}

.tags-input .react-tagsinput:before {
  height: 1px;
  -webkit-transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #e6e6e6;
}

.tags-input .react-tagsinput:after,
.tags-input--error .react-tagsinput:after {
  height: 2px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  -webkit-transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.tags-input .react-tagsinput:after {
  background-color: #007f9e;
}

.tags-input--error .react-tagsinput:after {
  background-color: #ff6b54;
}

.tags-input .react-tagsinput > span {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.react-tagsinput-tag {
  background: #f2f2f2;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 12px;
  margin: 0 8px 6px 0;
  border-radius: 2px;
  color: #666;
  font-size: 0.9em;
}

.react-tagsinput-tag i {
  margin-left: 8px;
  cursor: pointer;
}

.react-tagsinput-input--hidden {
  display: none;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  z-index: 2;
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-top: 4px;
  width: 100%;
}

.react-autosuggest__container {
  display: inline-block;
  position: relative;
  padding-bottom: 6px;
  width: 100%;
}

.react-autosuggest__container ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.react-autosuggest__suggestion {
  padding: 0;
  margin: 0;
  color: #666;
}

.react-autosuggest__suggestion--highlighted a.suggestion-item {
  background: #f6f6f6;
  cursor: pointer;
}

.search-input-container.jsx-3119993964 {
  background-color: #ffffff;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-input-container.jsx-3119993964 .search-input {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #fff;
}

.search-input-container.jsx-3119993964 .react-tagsinput {
  border: none;
  padding: 10px 0 10px 12px;
}

.search-input-container.jsx-3119993964 .react-tagsinput:before,
.search-input-container.jsx-3119993964 .react-tagsinput:after {
  display: none;
}

.search-input-container.jsx-3119993964 .react-autosuggest__container {
  padding-bottom: 0;
}

.search-input-container.jsx-3119993964
  .react-autosuggest__suggestions-container {
  text-align: left;
  width: 200px;
}

.search-input-container.jsx-3119993964 .react-tagsinput-tag {
  margin-bottom: 0;
  background-color: #e6e6e6;
  color: #666666;
}

.btn-inner-container.jsx-113364195 {
  width: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button.jsx-113364195 {
  color: #fff;
  min-width: 70px;
  width: auto;
  background: #137ded;
  border: 1px solid #137ded;
  border-radius: 3px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 32px;
  opacity: 1;
  font-family: Open Sans, sans-serif;
}

button.disabled.jsx-113364195 {
  cursor: default;
  opacity: 0.4;
}

button.jsx-113364195:hover {
  background: #1175e0;
  border-color: #1175e0;
  color: #fff;
}

button.jsx-113364195 .btn__icon {
  display: inline-block;
  line-height: 0;
  margin-right: 5px;
}
.video.jsx-303558663 .youtube-player {
  margin-bottom: 32px;
  position: relative;
  display: inline-block;
  height: 120px;
}

.video.jsx-303558663 .youtube-player:hover .shadow {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.shadow.jsx-303558663 {
  display: none;
  background-color: rgba(0, 54, 72, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.video__img.jsx-303558663 {
  width: 100%;
  height: 120px;
}

.play-icon__img.jsx-303558663 {
  width: 36px;
  height: auto;
}
.trustpilot.jsx-1383997885 {
  border-radius: 3px;
  padding: 26px 40px 20px 40px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 32px;
}

.trustpilot__img.jsx-1383997885 {
  height: 36px;
  padding-right: 12px;
  display: block;
  margin: 0 auto;
}

.trustpilot__reviews.jsx-1383997885 {
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  text-align: center;
  margin-top: 16px;
}
.jsx-3800324737 {
  display: inline-flex;
  margin: 0;
}

span.jsx-3800324737 svg {
  width: 18px;
  height: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span.jsx-3800324737 svg path:last-child {
  fill: #b8b8b8;
}

span.with-hover.jsx-3800324737 svg:hover {
  opacity: 0.85;
}

span.with-hover.jsx-3800324737 svg:hover path:last-child {
  fill: #b8b8b8;
}

.item.jsx-3820405544 {
  padding: 14px 24px;
  background-color: #fff;
  box-shadow: 0 1px #e6e6e6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1px;
}

a.jsx-3820405544:last-child .item.jsx-3820405544 {
  box-shadow: none;
  margin-bottom: 0;
}

.item.jsx-3820405544 img.jsx-3820405544 {
  height: 16px;
  width: auto;
  margin: 0;
  vertical-align: middle;
}

.item--left.jsx-3820405544 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item--right.jsx-3820405544 {
  width: 20px;
  height: 17px;
  text-align: right;
}

.item--right.jsx-3820405544 > span.jsx-3820405544 {
  margin-bottom: 0;
}

.media-news.jsx-4183788744 {
  border-radius: 3px;
  margin-top: 16px;
  background-color: #fff;
  padding: 4px 0px;
  margin-bottom: 32px;
}

h3.jsx-4183788744 {
  font-size: 12px;
  color: #666;
  line-height: 1.36;
}
.avg-rate.jsx-1578609029 {
  padding: 24px;
  background: #fff;
  border-radius: 3px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.avg-rate.jsx-1578609029 h2.jsx-1578609029 {
  margin-top: 0px;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  font-weight: normal;
}

.rate-info.jsx-1578609029 {
  padding: 10px 0px;
  border-radius: 3px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.live-help.jsx-1578609029 {
  margin-top: 8px;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
}

.live-help.jsx-1578609029 a.jsx-1578609029 {
  color: #137ded;
}
.btn-inner-container.jsx-3684068833 {
  width: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button.jsx-3684068833 {
  color: #137ded;
  min-width: 70px;
  width: 100%;
  background: transparent;
  border: 1px solid #137ded;
  border-radius: 3px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 14px;
  opacity: 1;
  font-family: Open Sans, sans-serif;
}

button.disabled.jsx-3684068833 {
  cursor: default;
  opacity: 0.4;
}

button.jsx-3684068833:hover {
  background: transparent;
  border-color: #1175e0;
  color: #1175e0;
}

button.jsx-3684068833 .btn__icon {
  display: inline-block;
  line-height: 0;
  margin-right: 5px;
}

.cta-widget.jsx-2357148135 {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 24px;
  background-color: #fff;
  border-radius: 3px;
}

h2.jsx-2357148135 {
  margin-top: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #333;
  font-weight: normal;
}

.desc.jsx-2357148135 {
  margin: 16px 0;
  color: #666;
  font-size: 12px;
  line-height: 1.5;
}

.extra-desc.jsx-2357148135 {
  margin-top: 8px;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
}

.extra-desc.jsx-2357148135 a {
  color: #137ded;
}

.cui-avatar-image.jsx-1367543943 {
  width: 30px;
  height: 30px;
  background-color: #eee;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin: undefined;
}

.cui-avatar-image.jsx-1367543943 img.jsx-1367543943 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.review.jsx-1364404734 {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  padding: 24px;
  background: rgba(255, 255, 255, 0.2);
}

.review.jsx-1364404734 + .review.jsx-1364404734 {
  margin-top: 16px;
}

.content.jsx-1364404734 {
  margin: 8px 0 0;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  max-height: 218px;
  overflow: hidden;
}

.writer.jsx-1364404734 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.writer--name.jsx-1364404734 {
  color: #333;
  line-height: 1.43;
  font-size: 14px;
  margin-left: 8px;
}

@media (max-width: 720px) {
  .review.jsx-1364404734 {
    max-width: 90%;
  }
}

.reviews-wrapper.jsx-418897153 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

h2.jsx-418897153 {
  text-align: center;
  font-size: 32px;
  line-height: 1.5;
  color: #003648;
  font-weight: bold;
}

@media (max-width: 720px) {
  .reviews.jsx-418897153 {
    padding-top: 24px;
  }
  h2.jsx-418897153 {
    font-size: 24px;
  }
}

.footer.jsx-3953129255 {
  background: #34444a;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  padding-top: 2.3em;
  -webkit-font-smoothing: antialiased;
}

.container.jsx-3953129255 {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.footer.jsx-3953129255 p.jsx-3953129255 {
  color: #fff;
  line-height: 18px;
}

.footer.jsx-3953129255 a.jsx-3953129255 {
  color: rgba(255, 255, 255, 0.7);
}

.footer.jsx-3953129255 a.jsx-3953129255:hover,
.footer.jsx-3953129255 a.jsx-3953129255:active,
.footer.jsx-3953129255 a.jsx-3953129255:focus {
  -webkit-text-decoration: none;
  text-decoration: none;
}

.footer.jsx-3953129255 a.jsx-3953129255:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer.jsx-3953129255 a.jsx-3953129255:active,
.footer.jsx-3953129255 a.jsx-3953129255:focus {
  color: rgba(255, 255, 255, 0.9);
}

.footer.jsx-3953129255 .footer-menu.jsx-3953129255 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0 2.8em;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.footer.jsx-3953129255 .footer-menu__link-blocks.jsx-3953129255 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.footer.jsx-3953129255 .footer-menu__block.jsx-3953129255 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1em;
}

.footer.jsx-3953129255 .footer-menu__title.jsx-3953129255 {
  color: #8badb4;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 15px;
}

.footer.jsx-3953129255 .footer-menu__product-title.jsx-3953129255 {
  display: block;
  font-weight: bold;
}

.footer.jsx-3953129255 .footer-menu__list.jsx-3953129255 {
  line-height: 1.43;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer.jsx-3953129255 .footer-menu__list.jsx-3953129255:first-child {
  margin-top: 29px;
}

.footer.jsx-3953129255 .footer-menu__item.jsx-3953129255 {
  margin-bottom: 0.6em;
}

.footer.jsx-3953129255 .footer-menu__item.jsx-3953129255:last-child {
  margin-bottom: 0px;
}

.footer.jsx-3953129255 .cmx-company.jsx-3953129255 {
  margin-top: 48px;
}

.footer.jsx-3953129255 .brand.jsx-3953129255 {
  -webkit-flex: 1.3;
  -ms-flex: 1.3;
  flex: 1.3;
  margin-right: 1em;
}

.footer.jsx-3953129255 .footer-info.jsx-3953129255 {
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  padding: 1.1em 0 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer.jsx-3953129255 .footer-info__copyrights.jsx-3953129255 {
  color: #fff;
}

.footer.jsx-3953129255 .footer-info__item.jsx-3953129255 {
  margin-left: 2em;
}

.footer.jsx-3953129255 .footer-info__item.jsx-3953129255:first-child {
  margin-left: 0px;
}

.footer.jsx-3953129255 .footer-info__social-links.jsx-3953129255 {
  margin-left: 28px;
  display: inline-block;
}

.footer.jsx-3953129255 .footer-info__social-item.jsx-3953129255 {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  color: #34454a;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer.jsx-3953129255 .footer-info__social-item.jsx-3953129255:first-child {
  margin-left: 0px;
}

.footer.jsx-3953129255 .footer-info__social-item.jsx-3953129255:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #34454a;
}

.footer.jsx-3953129255 .footer-info__social-item.jsx-3953129255:active,
.footer.jsx-3953129255 .footer-info__social-item.jsx-3953129255:focus {
  background: rgba(255, 255, 255, 0.5);
  color: #34454a;
}

@media (max-width: 800px) {
  .footer.jsx-3953129255 .footer-info.jsx-3953129255 {
    display: block;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .footer.jsx-3953129255 .brand.jsx-3953129255 {
    text-align: center;
  }
  .footer.jsx-3953129255 .footer-menu.jsx-3953129255 {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
    padding-bottom: 0px;
  }
  .footer.jsx-3953129255 .footer-menu__title.jsx-3953129255 {
    min-height: initial;
  }
  .footer.jsx-3953129255 .footer-menu__list.jsx-3953129255 {
    margin-bottom: 0.6em;
  }
  .footer.jsx-3953129255 .footer-menu__list.jsx-3953129255:first-child {
    margin-top: 0px;
  }
  .footer.jsx-3953129255 .footer-menu__item.jsx-3953129255 {
    margin-bottom: 0.8em;
  }
  .footer.jsx-3953129255 .footer-menu__block.jsx-3953129255 {
    margin-right: 0px;
  }
  .footer.jsx-3953129255 .footer-menu__block.jsx-3953129255 p.jsx-3953129255 {
    margin-bottom: 3em;
  }
  .footer.jsx-3953129255 .footer-menu__block.jsx-3953129255:last-child {
    margin: 2.4em 0em 0em;
  }
  .footer.jsx-3953129255 .footer-menu__link-blocks.jsx-3953129255 {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
  }
  .footer.jsx-3953129255 .footer-info__copyrights.jsx-3953129255 {
    margin-bottom: 5px;
  }
  .footer.jsx-3953129255 .footer-info__social-links.jsx-3953129255 {
    display: block;
    margin: 1em 0em;
  }
  .footer.jsx-3953129255 .footer-info__item.jsx-3953129255 {
    font-size: 12px;
    margin-left: 1em;
  }
}
.main-content.jsx-3779741798 {
  padding-top: 16px;
  margin: 0 auto;
  border-top: 1px solid #e6e6e6;
  background: #f2f2f2;
}

.container.jsx-3779741798 {
  width: 95%;
  max-width: 1192px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-content__inner.jsx-3779741798 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-content__inner--left.jsx-3779741798 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main-content__inner--right.jsx-3779741798 {
  width: 328px;
}

.main-content__inner--left.jsx-3779741798,
.main-content__inner--right.jsx-3779741798 {
  padding: 32px;
}

.main-content__inner--left.jsx-3779741798 .search-input-container {
  border-radius: 3px;
  margin-bottom: 1px;
}

.main-content__subtitle.jsx-3779741798 {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.mentor-list--empty.jsx-3779741798 {
  font-size: 12px;
  padding: 32px;
  color: #666;
}

.mentor-list--loading.jsx-3779741798 {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  box-shadow: 0px 1px #e6e6e6;
  margin-bottom: 1px;
}

.mentor-list__loading-text.jsx-3779741798 {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-content__inner--left.jsx-3779741798 .search-input-container,
.view-more.jsx-3779741798 {
  box-shadow: 0px 1px #e6e6e6;
}

.view-more.jsx-3779741798 {
  padding: 32px;
  text-align: center;
  border-radius: 3px;
  background: #fff;
}

.view-more.jsx-3779741798 h2.jsx-3779741798 {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.36;
  color: #003648;
}

.how-to-apply.jsx-3779741798 {
  background: #fff;
  padding: 32px 0 64px;
  text-align: center;
}

.how-to-apply.jsx-3779741798 h2.jsx-3779741798 {
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 70px;
  color: #003648;
  text-align: center;
}

@media (max-width: 960px) {
  .main-content__inner.jsx-3779741798 {
    display: block;
  }
  .main-content__inner--left.jsx-3779741798 {
    max-width: 800px;
    margin: 0 auto;
  }
  .main-content__inner--right.jsx-3779741798 {
    max-width: 328px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .main-content__inner--left.jsx-3779741798 {
    padding: 12px;
  }
}

span.jsx-1881474699 g {
  fill: #fff;
}

span.jsx-1881474699 svg {
  width: 165px;
  height: auto;
  margin-top: 2px;
}
.cui-avatar-image.jsx-3697767361 {
  width: 40px;
  height: 40px;
  background-color: #eee;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin: undefined;
}

.cui-avatar-image.jsx-3697767361 img.jsx-3697767361 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dropdown-menu__icon.jsx-650180005 {
  height: 26px;
  width: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu__icon.jsx-650180005:hover span.jsx-650180005 {
  background-color: #fff;
  opacity: 0.8;
}

.dropdown-menu__icon.jsx-650180005:active span.jsx-650180005,
.dropdown-menu__icon.jsx-650180005:focus span.jsx-650180005 {
  outline: none;
}

.dropdown-menu__icon.jsx-650180005 span.jsx-650180005,
.dropdown-menu__icon.jsx-650180005 span.jsx-650180005:before,
.dropdown-menu__icon.jsx-650180005 span.jsx-650180005:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 1px;
  height: 3px;
  width: 18px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: "";
}

.dropdown-menu__icon.jsx-650180005 span.jsx-650180005:before,
.dropdown-menu__icon.jsx-650180005 span.jsx-650180005:after {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.dropdown-menu__icon.jsx-650180005 span.jsx-650180005:before {
  top: -6px;
}

.dropdown-menu__icon.jsx-650180005 span.jsx-650180005:after {
  top: 6px;
}

.dropdown-menu__icon--active.jsx-650180005 span.jsx-650180005 {
  background-color: transparent;
}

.dropdown-menu__icon--active.jsx-650180005 span.jsx-650180005:before,
.dropdown-menu__icon--active.jsx-650180005 span.jsx-650180005:after {
  top: 0;
}

.dropdown-menu__icon--active.jsx-650180005 span.jsx-650180005:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown-menu__icon--active.jsx-650180005 span.jsx-650180005:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dropdown-menu__icon--active.jsx-650180005:hover span.jsx-650180005 {
  background-color: transparent;
}

span.jsx-1789220449 {
  display: inline-flex;
  margin: 0;
}

span.jsx-1789220449 svg {
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span.jsx-1789220449 svg path:last-child {
  fill: #333;
}

span.with-hover.jsx-1789220449 svg:hover {
  opacity: 0.85;
}

span.with-hover.jsx-1789220449 svg:hover path:last-child {
  fill: #333;
}

div.jsx-4157271031 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dropdown-menu.jsx-2832667776 {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-menu__box.jsx-2832667776 {
  position: absolute;
  width: 220px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.17);
  top: 100%;
  border-top: 1px solid #00445b;
  z-index: 4;
}

.dropdown-menu__box--left.jsx-2832667776 {
  left: 0;
}

.dropdown-menu__box--right.jsx-2832667776 {
  right: 0;
}

.dropdown-menu__box--hide.jsx-2832667776 {
  display: none;
}

.header.jsx-2811084404 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.jsx-2811084404 .dropdown-menu {
  height: 100%;
}

.user-info-wrap.jsx-2811084404 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 45px;
}

.user-info-wrap__detail.jsx-2811084404 {
  margin-left: 10px;
}

.user-info-wrap__name.jsx-2811084404 {
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}

.user-info-wrap__timezone.jsx-2811084404 {
  display: block;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.33;
  color: #d9dee0;
}

@media (max-width: 540px) {
  .user-info-wrap.jsx-2811084404 {
    display: none;
  }
}
h1.jsx-1833136149 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 1.5;
  color: #003648;
  margin: 0;
}

.btn-inner-container.jsx-362489146 {
  width: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button.jsx-362489146 {
  color: #fff;
  min-width: 70px;
  width: auto;
  background: #009fc6;
  border: 1px solid #009fc6;
  border-radius: 3px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 14px;
  opacity: 1;
  font-family: Open Sans, sans-serif;
}

button.disabled.jsx-362489146 {
  cursor: default;
  opacity: 0.4;
}

button.jsx-362489146:hover {
  background: #0093b7;
  border-color: #0093b7;
  color: #fff;
}

button.jsx-362489146 .btn__icon {
  display: inline-block;
  line-height: 0;
  margin-right: 5px;
}

button.jsx-4225833509 {
  height: 18px;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.5;
  color: #999;
  border: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  background-color: #fff;
}

button.jsx-4225833509:hover {
  color: #666;
}
.welcome-wrap.jsx-3422102614 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.left-col.jsx-3422102614,
right-col.jsx-3422102614 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.left-col.jsx-3422102614 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-wrap.jsx-3422102614 {
  width: 100%;
  margin-top: 23%;
  margin-left: 18.75%;
  margin-right: 6.25%;
  font-family: "Open Sans";
}

.desc.jsx-3422102614 {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
  margin-bottom: 30px;
}

.skip-link-wrap.jsx-3422102614 {
  margin-top: 15px;
}

.bg.jsx-3422102614 {
  z-index: -1;
  background: url(https://next-cdn.codementor.io/static/images/user-onboarding/welcome-2x.png)
    no-repeat bottom center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.user-onboarding.jsx-2517682532 {
  height: calc(100vh - 60px);
}

.desc-wrap.jsx-4092063237 {
  text-align: center;
  margin: 16px 20px 0 20px;
}

.desc.jsx-4092063237 {
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
  margin-bottom: 32px;
}

.children.jsx-3249380764 {
  display: none;
}

.blocker.jsx-3249380764 {
  display: none;
  font-family: "Open Sans";
  font-size: 14px;
  position: relative;
  height: calc(100vh - 60px);
  background-color: #f9f9f9;
}

.content.jsx-3249380764 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.greeting.jsx-3249380764 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #003648;
}

.image.jsx-3249380764 {
  max-width: 170px;
  height: auto;
}

@media (min-width: 961px) {
  .children.jsx-3249380764 {
    display: block;
  }
}

@media (max-width: 960px) {
  .blocker.jsx-3249380764 {
    display: block;
  }
}

@media (max-width: 400px) {
  .greeting.jsx-3249380764 {
    font-size: 28px;
  }
  .image.jsx-3249380764 {
    max-width: 120px;
  }
}

.jss13 {
  background-color: #fff;
}

.jss14 {
  border-radius: 4px;
}

.jss15 {
  box-shadow: none;
}

.jss16 {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.jss17 {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.jss18 {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.jss19 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.jss20 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.jss21 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.jss22 {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.jss23 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.jss24 {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.jss25 {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.jss26 {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.jss27 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.jss28 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.jss29 {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.jss30 {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.jss31 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.jss32 {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.jss33 {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.jss34 {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.jss35 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.jss36 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.jss37 {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.jss38 {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.jss39 {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.jss4 {
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}

.jss5 {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
}

.jss6 {
  top: 0;
  left: auto;
  right: 0;
  position: absolute;
}

.jss7 {
  top: 0;
  left: auto;
  right: 0;
  position: sticky;
}

.jss8 {
  position: static;
}

.jss9 {
  position: relative;
}

.jss10 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}

.jss11 {
  color: #fff;
  background-color: #009fc6;
}

.jss12 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #38d3b6;
}

.jss1 {
  height: 60px;
  background: linear-gradient(285deg, #006080, #006181 47%, #003648);
  box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.2),
    0 1px 3px 0 rgba(51, 51, 51, 0.2);
  flex-direction: row;
}

.jss2 {
  height: 64px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.08);
}

.jss3 {
  height: 50px;
}

.jss56 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1300;
  position: fixed;
}

.jss57 {
  visibility: hidden;
}

.jss43 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jss44 {
  overflow-y: auto;
  overflow-x: hidden;
}

.jss45 {
  height: 100%;
  outline: none;
}

.jss46 {
  margin: 48px;
  display: flex;
  position: relative;
  overflow-y: auto;
  flex-direction: column;
}

.jss47 {
  flex: 0 1 auto;
  max-height: calc(100% - 96px);
}

.jss48 {
  margin: 48px auto;
}

.jss49 {
  max-width: 360px;
}

@media (max-width: 455.95px) {
  .jss49.jss48 {
    margin: 48px;
  }
}

.jss50 {
  max-width: 600px;
}

@media (max-width: 695.95px) {
  .jss50.jss48 {
    margin: 48px;
  }
}

.jss51 {
  max-width: 960px;
}

@media (max-width: 1055.95px) {
  .jss51.jss48 {
    margin: 48px;
  }
}

.jss52 {
  max-width: 1280px;
}

@media (max-width: 1375.95px) {
  .jss52.jss48 {
    margin: 48px;
  }
}

.jss53 {
  max-width: 1920px;
}

@media (max-width: 2015.95px) {
  .jss53.jss48 {
    margin: 48px;
  }
}

.jss54 {
  width: 100%;
}

.jss55 {
  width: 100%;
  margin: 0;
  height: 100%;
  max-width: 100%;
  max-height: none;
  border-radius: 0;
}

.jss55.jss48 {
  margin: 0;
}

.jss40 {
  max-width: 90%;
}

.jss41 {
  background: rgba(7, 54, 72, 0.85);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Open Sans, sans-serif;
}

@media print {
  body {
    background-color: #fff;
  }
}

a {
  color: #00b5e2;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
}
svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
}

.svg-inline--fa.fa-w-1 {
  width: 0.0625em;
}

.svg-inline--fa.fa-w-2 {
  width: 0.125em;
}

.svg-inline--fa.fa-w-3 {
  width: 0.1875em;
}

.svg-inline--fa.fa-w-4 {
  width: 0.25em;
}

.svg-inline--fa.fa-w-5 {
  width: 0.3125em;
}

.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}

.svg-inline--fa.fa-w-7 {
  width: 0.4375em;
}

.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}

.svg-inline--fa.fa-w-9 {
  width: 0.5625em;
}

.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}

.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}

.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}

.svg-inline--fa.fa-w-13 {
  width: 0.8125em;
}

.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}

.svg-inline--fa.fa-w-15 {
  width: 0.9375em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa.fa-w-17 {
  width: 1.0625em;
}

.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}

.svg-inline--fa.fa-w-19 {
  width: 1.1875em;
}

.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}

.svg-inline--fa.fa-pull-left {
  margin-right: 0.3em;
  width: auto;
}

.svg-inline--fa.fa-pull-right {
  margin-left: 0.3em;
  width: auto;
}

.svg-inline--fa.fa-border {
  height: 1.5em;
}

.svg-inline--fa.fa-li {
  width: 2em;
}

.svg-inline--fa.fa-fw {
  width: 1.25em;
}

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -0.125em;
  width: 1em;
}

.fa-layers svg.svg-inline--fa {
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.fa-layers-text,
.fa-layers-counter {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: 0.25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.fa-xs {
  font-size: 0.75em;
}

.fa-sm {
  font-size: 0.875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: 0.3em;
}

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: 0.3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// .fa-rotate-90 {
//   -ms-filter: "
// 	progid: DXImageTransform.Microsoft.BasicImage(rotation=1)";
//   -webkit-transform: rotate(90deg);
//   transform: rotate(90deg);
// }

// .fa-rotate-180 {
//   -ms-filter: "
// 	progid: DXImageTransform.Microsoft.BasicImage(rotation=2)";
//   -webkit-transform: rotate(180deg);
//   transform: rotate(180deg);
// }

// .fa-rotate-270 {
//   -ms-filter: "
// 	progid: DXImageTransform.Microsoft.BasicImage(rotation=3)";
//   -webkit-transform: rotate(270deg);
//   transform: rotate(270deg);
// }

// .fa-flip-horizontal {
//   -ms-filter: "
// 	progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
//   -webkit-transform: scale(-1, 1);
//   transform: scale(-1, 1);
// }

// .fa-flip-vertical {
//   -ms-filter: "
// 	progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
//   -webkit-transform: scale(1, -1);
//   transform: scale(1, -1);
// }

// .fa-flip-horizontal.fa-flip-vertical {
//   -ms-filter: "
// 	progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
//   -webkit-transform: scale(-1, -1);
//   transform: scale(-1, -1);
// }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
  filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2em;
}

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1em;
}

.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2em;
}

.fa-inverse {
  color: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.login {
  background: red;
}
